/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env3
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tootiko.zip
public/public.zip
public/t-files
public/translated-files
.idea

